html {
    height: 100%;
}

body {
    background-image: url("Taroko.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
    background-attachment: fixed;
    height: 100%;
}

.mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -200;
}

.container {
    height: 100%;
}

.board {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 10%;
    padding-bottom: 10%;
}

form {
    display: flex;
    justify-content: center;
}

.begin-block,
.dest-block {
    margin-right: 10px;
    width: 320px;
}

.begin-station-select,
.dest-station-select {
    position: absolute;
    display: inline-block;
    width: 518px;
}

.county {
    display: inline-block;
}

.county-btn,
.station-btn {
    margin: 2px 2px;
}

.station-table {
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px) brightness(170%);
}
