html {
    height: 100%;
}

body {
    background-image: url("Taroko.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
    height: 100%;
}

.mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -200;
}

.container {
    height: 100%;
}

.board {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    height: 100%;
    padding-top: 10%;
}

.begin-station-select,
.dest-station-select {
    position: absolute;
    display: inline-block;
    width: 518px;
}

.county {
    display: inline-block;
}

.county-btn {
    margin: 2px;
}