<form method="get" class="search-form" style="top: {{ on_top }}">
    {% csrf_token %}
    <div class="begin-block">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-primary {% if not only_station %}dropdown-toggle{% endif %}" type="button"
                        {% if not only_station %}data-toggle="dropdown"{% endif %}
                >出發站
                </button>
                <div class="dropdown-menu">
                    <div class="county"></div>
                    <div role="separator" class="dropdown-divider"></div>
                    <div class="station"></div>
                </div>
            </div>
            <input type="text" class="form-control begin-text" name="begin_station" style="pointer-events:none"
                   value="{{ bgst }}">
        </div>
    </div>
    <div class="dest-block">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-danger {% if not only_station %}dropdown-toggle{% endif %}" type="button"
                        {% if not only_station %}data-toggle="dropdown"{% endif %}
                >抵達站
                </button>
                <div class="dropdown-menu">
                    <div class="county"></div>
                    <div role="separator" class="dropdown-divider"></div>
                    <div class="station"></div>
                </div>
            </div>
            <input type="text" class="form-control dest-text" name="dest_station" style="pointer-events:none"
                   value="{{ dsst }}">
        </div>
    </div>

    {% if not only_station %}
        <input class="mb-3" type="time" name="time" value="06:00">
        <button type="submit" class="submit btn btn-info mb-3 ml-2">Submit</button>
    {% endif %}
</form>
