form {
    /*top: 40vh;*/
    position: relative;
    transition: all 0.7s cubic-bezier(0, 0, 0.2, 1.11);
}

label {
    color: white;
}

.ticket-info {
    font-weight: bold;
    margin: auto;
    text-align: center;
    background: -webkit-radial-gradient(#f5eeaf 50%, transparent 16%), -webkit-radial-gradient(#f5eeaf 50%, transparent 16%), white;
    background-position: 0 0, 30px 30px;
    background-size: 30px 30px;
}

td {
    width: 110px;
}

tr {
    height: 36px;
}

.get-on-station {
    vertical-align: bottom;
}

.get-off-station {
    vertical-align: top;
}