html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
    background-attachment: fixed;
    height: 100%;
}

.mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -200;
}

.container {
    padding-top: 8%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
    max-height: 8%;
    height: 8%;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.search-form {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.7s cubic-bezier(0, 0, 0.2, 1.11);
}

.begin-block,
.dest-block {
    width: 320px;
    display: inline-block;
}

.begin-station-select,
.dest-station-select {
    position: absolute;
    display: inline-block;
    width: 518px;
}

.county {
    display: inline-block;
}

.county-btn,
.station-btn {
    margin: 2px 2px;
}

.sign {
    font-size: 38px;
    line-height: 38px;
    margin: 0 10px;
    color: white;
}

.exchange-sign:hover {
    color: wheat;
    transition: all 0.2s linear;
    cursor: pointer;
}

.station-table {
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
    color: white;
}

.station-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.route-info {
    cursor: pointer;
}
