{% extends './template/base.html' %}
{% load static %}
{% block page-title %}訂票 - 台鐵訂票系統網{% endblock %}
{% block bg-image %}Taroko.jpg{% endblock %}
{% block head-space %}30vh{% endblock %}
{% block content %}
    {% include './component/form.html' with bgst=full_begin_station dsst=full_dest_station show_in_index=False on_top='0' only %}
    <form method="post" style="color:white;" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="form-group col-md-3">
                <input id="ssn" type="radio" name="ssn-type" value="ssn" checked>
                <label for="ssn" style="margin-right: 10px">身份證字號</label>
                <input id="passport" type="radio" name="ssn-type" value="passport">
                <label for="passport">護照號碼</label>
                <input type="text" class="form-control" name="ssn-value" required>
                <div class="invalid-tooltip">
                  請輸入正確的值.
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="name">姓名</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="invalid-tooltip">
                  請輸入姓名.
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="mb-2">行程種類</div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-info active">
                        <input type="radio" name="schedule-kind" autocomplete="off" checked>單程
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="schedule-kind" autocomplete="off"> 來回
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-3">
                <label for="train-id">車次</label>
                <input type="text" class="form-control" id="train-id" name="train-id" value="{{ train_id }}" readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="date">日期</label>
                <input type="date" class="form-control" name="date" id="date" required>
            </div>
            <div class="form-group col-md-2">
                <label for="ticket-count">票數</label>
                <input type="number" class="form-control" id="ticket-count" name="ticket-count" min="1" max="6" value="1">
                <div class="invalid-tooltip">
                  請輸入正確的票數:1~6
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">訂票</button>
    </form>
{% endblock %}

{% block script %}{% static "/booking.js" %}{% endblock %}