{% extends './template/base.html' %}
{% load static %}
{% block page-title %}查詢 - 台鐵訂票系統網{% endblock %}
{% block bg-image %}image/Taroko.jpg{% endblock %}
{% block content %}
    {% include 'component/form.html' with bgst='1020 板橋' dsst='1000 臺北' show_in_index=True on_top='35vh' %}
    <div style="padding-left: 5px; padding-right: 5px; padding-bottom: 1px; backdrop-filter: blur(10px);">
        <table class="table station-table" style="display: none">
            <thead>
            <tr>
                <th>車種車次</th>
                <th>出發時間</th>
                <th>抵達時間</th>
                <th>行駛時間</th>
                <th>經由</th>
                <th>票價</th>
                <th>訂票</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <table class="route-table table"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}{% static "/script/script.js" %}{% endblock %}