{% extends './template/base.html' %}
{% load static %}
{% block page-title %}訂票成功 - 台鐵訂票系統網{% endblock %}
{% block bg-image %}image/Diesel.jpg{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/style/success.css">
    <div class="success-block">
        <div>訂票成功</div>
        <div class="ticket-no">車票編號</div>
        {% for ticket_id in ticket_id_list %}
            <div class="ticket-id">{{ ticket_id }}</div>
        {% endfor %}
        <div><a href="/">返回首頁</a></div>
        <div><a href="/SearchTicket/">查詢車票</a></div>
    </div>
{% endblock %}